@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: #43373e;
}
.app {
	height: 100vh;
	width: 100vw;
	font-weight: 300;
	overflow: hidden;
}
.canvas {
	height: 100vh;
	width: 100vw;
}
.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	background-color: #CB5599;
	/*background-color: #263238;*/
}
.slate-border {
	border: .1em solid #43373e;
}
.save-btn {
	font-size: 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: .2em;
	border: .05em solid white;
	margin-top: .25em;
}
.section {
	min-height: 100px;
	width: 100%;
	color: white;
}

/* Spacing Styles*/
.pad-1em {
	padding: .5em 1em;
}

/* Candidate defined styles go here! */
